@import viewmodels.InputWidth._
@import uk.gov.hmrc.govukfrontend.views.html.components.FormWithCSRF
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukErrorSummary
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukInput
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukButton
@import views.ViewUtils.title
@import viewmodels.govuk.all._
@import uk.gov.hmrc.govukfrontend.views.Aliases.Text
@import viewmodels.LegendSize.Large

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("$className;format="decap"$.title"))) {

    @formHelper(action = routes.$className$Controller.onSubmit(mode)) {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(Text(messages("$className;format="decap"$.heading"))).asPageHeading(size = Large)
            )
            .withWidth(OneHalf)
        )

        @govukButton(
            ButtonViewModel(Text(messages("site.continue")))
        )
    }
}
