@import uk.gov.hmrc.govukfrontend.views.html.components.FormWithCSRF
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukErrorSummary
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukCheckboxes
@import uk.gov.hmrc.govukfrontend.views.html.components.GovukButton
@import views.ViewUtils.title
@import viewmodels.govuk.all._
@import uk.gov.hmrc.govukfrontend.views.Aliases.Text
@import models.requests.DisplayRequest
@import views.html.components.QTNumber

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukCheckboxes: GovukCheckboxes,
    govukButton: GovukButton,
    qtNumber: QTNumber
)

@(form: Form[_], mode: Mode)(implicit request: DisplayRequest[_], messages: Messages)

@layout(pageTitle = title(form, messages("$className;format="decap"$.title"))) {

    @formHelper(action = routes.$className$Controller.onSubmit(mode), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form, errorLinkOverrides = Map("value" -> "value_0")))
        }

        @qtNumber()
        <h1 class="govuk-heading-l">@messages("$className;format="decap"$.heading")</h1>

        @govukCheckboxes(
            CheckboxesViewModel(
                form   = form,
                name   = "value",
                items  = $className$.checkboxItems
            )
        )

        @govukButton(
            ButtonViewModel(Text(messages("site.saveAndContinue")))
        )
    }
}
