@import "search-bar";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

// This .autocomplete__wrapper is here to override the default behaviour of the country picker js component.
// Hopefully this component will be updated soon, when it is, please remove this styling and use
//govuk-!-width-one-half directly on the InputCountry component

.autocomplete__wrapper { width: 100% }
@media (min-width: 40.0625em) {
  .autocomplete__wrapper { width: 75% };
}

