@import "search-bar";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

// This .autocomplete__wrapper is here to override the default behaviour of the country picker js component.
// Hopefully this component will be updated soon, when it is, please remove this styling and use
//govuk-!-width-one-half directly on the InputCountry component

.autocomplete__wrapper { width: 100% }
@media (min-width: 40.0625em) {
  .autocomplete__wrapper { width: 50% };
}

// This [role="region"] is here to create horizontally scrollable regions for tables as they break on small screens.
// Research is being done on hmrc accessible tables, and this should be replaced with hmrc stlyles when that this been done.
//For more information see here: https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html.

[role="region"][aria-labelledby][tabindex] {
   overflow: auto;
 }

[role="region"][aria-labelledby][tabindex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 0.1em solid rgba(0, 0, 0, 0.1);
}

[role="region"][aria-labelledby][tabindex] table {
  margin: 0;
  border: none;
}
