.search-bar-row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
}

.search-bar {
  width: 100%;
}

.search-bar__controls {
  display: block;
  align-items: stretch;
  max-width: 100%;
}

.search-bar__input {
  border-radius: 0;
  flex: 1 1 auto;
}

.search-bar__button {
  margin: 8px 0 14px 0;
  border-radius: 0;
  box-shadow: none;
  border-bottom-width: 1px;
}

.search-bar__clear {
  align-self: flex-start;
}

@media (min-width: 40.0625em) {

  .search-bar-row {
    flex-direction: row;
    align-items: center;
  }

  .search-bar {
    flex: 0 0 85%;
    max-width: 85%;
  }

  .search-bar__controls {
    display: flex;
    align-items: stretch;
  }

  .search-bar__button {
    margin: 0 0 0 8px;
    border-radius: 0;
    border-left: 0;
    box-shadow: none;
    border-bottom-width: 1px;
  }

  .search-bar__clear {
    margin-left: 8px;
    align-self: center;
  }
}