@import uk.gov.hmrc.govukfrontend.views.html.components.GovukButton
@import views.ViewUtils.titleNoForm
@import models.requests.DisplayRequest
@import views.html.components.QTNumber

@this(
        layout: templates.Layout,
        govukButton: GovukButton,
        qtNumber: QTNumber
)

@()(implicit request: DisplayRequest[_], messages: Messages)

@layout(pageTitle = titleNoForm(messages("transferSubmitted.title"))) {
    @qtNumber()
    <h1 class="govuk-heading-l">@messages("transferSubmitted.heading")</h1>
}
